@page
@model IndexModel
@using dluhy.Module
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Last week:@(new Content().Get_Time()) </p>
    <button class="align-content-center, owo">owo</button>
    <form method="post">
        <div class="form-group">
            <label for="userinput">Enter a date and time</label>
            <input type="text" class="form-control" name="userinput" />                    
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
