@page
@model IndexModel
@using dluhy.Module
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Last week:@(new Content().Get_Time()) </p>
    <button class="align-content-center, owo">owo</button>
</div>
